<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Title Of Site -->
    <title>HaNgan - Job Portal Responsive HTML Template</title>
    <meta name="description" content="HTML Responsive Landing Page Template for Job Portal Based on Twitter Bootstrap 3.x.x" />
    <meta name="keywords" content="job, work, resume, applicants, application, employee, employer, hire, hiring, human resource management, hr, online job management, company, worker, career, recruiting, recruitment" />
    <meta name="author" content="crenoveative">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fav and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="images/ico/favicon.png">
    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" media="screen">
    <link href="~/content/theme/hanganTheme/css/animate.css" rel="stylesheet">
    <link href="~/content/theme/hanganTheme/css/main.css" rel="stylesheet">
    <link href="~/content/theme/hanganTheme/css/component.css" rel="stylesheet">

    <!-- CSS Font Icons -->

    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/linearicons/style.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/font-awesome/content/theme/hanganTheme/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/simple-line-icons/content/theme/hanganTheme/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/ionicons/content/theme/hanganTheme/css/ionicons.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/pe-icon-7-stroke/content/theme/hanganTheme/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/rivolicons/style.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/flaticon-line-icon-set/flaticon-line-icon-set.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/flaticon-streamline-outline/flaticon-streamline-outline.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/flaticon-thick-icons/flaticon-thick.css">
    <link rel="stylesheet" href="~/content/theme/hanganTheme/icons/flaticon-ventures/flaticon-ventures.css">
    <!-- CSS Custom -->
    <link href="~/content/theme/hanganTheme/css/style.css" rel="stylesheet">
    <style>
        .loginClass{
            color:red;
        }
    </style>

</head>
<body class="not-transparent-header">

    <!-- start Container Wrapper -->
    <div class="container-wrapper">
        <!-- start Header -->
        <header id="header">
            <!-- start Navbar (Header) -->
            <nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function">
                <div class="container">

                    <div class="logo-wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="Logo" /></a>
                        </div>
                    </div>

                    <div id="navbar" class="navbar-nav-wrapper navbar-arrow">

                        <ul class="nav navbar-nav" id="responsive-menu">

                            <li>

                                <a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Home - Default</a></li>
                                    <li><a href="index-02.html">Home - 02</a></li>
                                    <li><a href="index-03.html">Home - 03</a></li>
                                    <li><a href="index-04.html">Home - 04</a></li>
                                    <li><a href="index-05.html">Home - 05</a></li>
                                    <li><a href="index-06.html">Home - 06</a></li>
                                    <li><a href="index-07.html">Home - 07</a></li>
                                </ul>

                            </li>

                            <li>
                                <a href="job-result.html">Job</a>
                                <ul>
                                    <li><a href="job-detail.html">Detail</a></li>
                                    <li><a href="job-detail-02.html">Detail 02</a></li>
                                    <li><a href="job-category.html">Category</a></li>
                                    <li><a href="job-location.html">Location</a></li>
                                    <li><a href="job-browse-job.html">Browse Job</a></li>
                                    <li><a href="job-by-keywords.html">Job By Keyword</a></li>
                                    <li><a href="job-company-list.html">Company List 01</a></li>
                                    <li><a href="job-company-list-02.html">Company List 02</a></li>
                                    <li><a href="job-company-list-03.html">Company List 03</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="employer.html">Employer</a>
                                <ul>
                                    <li><a href="employer-detail.html">Employer Detail</a></li>
                                    <li><a href="employer-detail-02.html">Employer Detail 02</a></li>
                                    <li><a href="employer-detail-03.html">Employer Detail 03</a></li>
                                    <li><a href="employer-post-job.html">Post a Job</a></li>
                                    <li><a href="employer-edit.html">Edit Profile</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="employee.html">Employee</a>
                                <ul>
                                    <li><a href="employee-detail.html">Employee Detail</a></li>
                                    <li><a href="employee-detail-02.html">Employee Detail 02</a></li>
                                    <li><a href="employee-create-resume.html">Create a resume</a></li>
                                    <li><a href="employee-edit.html">Edit Profile</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Page</a>
                                <ul>
                                    <li>
                                        <a href="admin.html">Dashboard</a>
                                        <ul>
                                            <li><a href="admin-empty.html">Dashboard - Empty</a></li>
                                            <li><a href="admin-profile.html">Dashboard - Profile</a></li>
                                            <li><a href="admin-alert.html">Dashboard - Alert</a></li>
                                            <li><a href="admin-saved-job.html">Dashboard - Saved Jobs</a></li>
                                            <li><a href="admin-change-pass.html">Dashboard - Change Password</a></li>
                                            <li><a href="admin-resume-list.html">Dashboard - Resume Lists</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about-us.html">About Us</a>
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="about-us-02.html">About Us 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="faq.html">Faq</a>
                                        <ul>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="faq-2.html">Faq 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                        <ul>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="contact-02.html">Contact 02</a></li>
                                            <li><a href="contact-03.html">Contact 03</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Account</a>
                                        <ul>
                                            <li><a href="account-login-page.html">Login Page</a></li>
                                            <li><a href="account-register-page.html">Register Page</a></li>
                                            <li><a href="account-forgot-password-page.html">Forgot Password Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="how-it-work.html">How it Work</a></li>
                                    <li><a href="404-error-page.html">404 - Error Page</a></li>
                                    <li><a href="static-page.html">Static Page</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div><!--/.nav-collapse -->
                    <div class="nav-mini-wrapper">
                        <ul class="nav-mini sign-in">
                            <li><a data-toggle="modal" href="#loginModal">login</a></li>
                            <li><a data-toggle="modal" href="#registerModal">register</a></li>
                            <li class="loginClass">  @Html.Partial("_LoginPartial")   </li>
                        </ul>
                        
                    </div>

                </div>

                <div id="slicknav-mobile"></div>

            </nav>
            <!-- end Navbar (Header) -->
            <!-- start Sign-in Modal -->
            <div id="loginModal" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">Sign-in into your account</h4>
                </div>

                <div class="modal-body">
                    <div class="row gap-20">

                        <div class="col-sm-6 col-md-6">
                            <button class="btn btn-facebook btn-block mb-5-xs">Log-in with Facebook</button>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <button class="btn btn-google-plus btn-block">Log-in with Google+</button>
                        </div>

                        <div class="col-md-12">
                            <div class="login-modal-or">
                                <div><span>or</span></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" placeholder="Min 4 and Max 10 characters" type="text">
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" placeholder="Min 4 and Max 10 characters" type="text">
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="checkbox-block">
                                <input id="remember_me_checkbox" name="remember_me_checkbox" class="checkbox" value="First Choice" type="checkbox">
                                <label class="" for="remember_me_checkbox">Remember me</label>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="login-box-link-action">
                                <a data-toggle="modal" href="#forgotPasswordModal">Forgot password?</a>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="login-box-box-action">
                                No account? <a data-toggle="modal" href="#registerModal">Register</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary">Log-in</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary btn-inverse">Close</button>
                </div>

            </div>
            <!-- end Sign-in Modal -->
            <!-- start Register Modal -->
            <div id="registerModal" class="modal fade login-box-wrapper" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">Create your account for free</h4>
                </div>

                <div class="modal-body">

                    <div class="row gap-20">

                        <div class="col-sm-6 col-md-6">
                            <button class="btn btn-facebook btn-block mb-5-xs">Register with Facebook</button>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <button class="btn btn-google-plus btn-block">Register with Google+</button>
                        </div>

                        <div class="col-md-12">
                            <div class="login-modal-or">
                                <div><span>or</span></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" placeholder="Min 4 and Max 10 characters" type="text">
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label>Email Address</label>
                                <input class="form-control" placeholder="Enter your email address" type="text">
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" placeholder="Min 8 and Max 20 characters" type="text">
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label>Password Confirmation</label>
                                <input class="form-control" placeholder="Re-type password again" type="text">
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="checkbox-block">
                                <input id="register_accept_checkbox" name="register_accept_checkbox" class="checkbox" value="First Choice" type="checkbox">
                                <label class="" for="register_accept_checkbox">By register, I read &amp; accept <a href="#">the terms</a></label>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="login-box-box-action">
                                Already have account? <a data-toggle="modal" href="#loginModal">Log-in</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary">Register</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary btn-inverse">Close</button>
                </div>

            </div>
            <!-- end Register Modal -->
            <!-- start Forget Password Modal -->
            <div id="forgotPasswordModal" class="modal fade login-box-wrapper" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">Restore your forgotten password</h4>
                </div>

                <div class="modal-body">
                    <div class="row gap-20">

                        <div class="col-sm-12 col-md-12">
                            <p class="mb-20">Maids table how learn drift but purse stand yet set. Music me house could among oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour to.</p>
                        </div>

                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label>Email Address</label>
                                <input class="form-control" placeholder="Enter your email address" type="text">
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="checkbox-block">
                                <input id="forgot_password_checkbox" name="forgot_password_checkbox" class="checkbox" value="First Choice" type="checkbox">
                                <label class="" for="forgot_password_checkbox">Generate new password</label>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="login-box-box-action">
                                Return to <a data-toggle="modal" href="#loginModal">Log-in</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary">Restore</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary btn-inverse">Close</button>
                </div>

            </div>
            <!-- end Forget Password Modal -->

        </header>
        






            <ul>
                <li>  @Html.Partial("_LoginPartial")   </li>
            </ul>
            

       




        <!-- start Main Wrapper -->
        <div class="main-wrapper">
            <!-- start hero-header -->
            <div class="breadcrumb-wrapper">

                <div class="container">

                    <ol class="breadcrumb-list">
                        <li><a href="index.html">Home</a></li>
                        <li><span>About Us</span></li>
                    </ol>

                </div>

            </div>
            <!-- end hero-header -->

            <div>
                @RenderBody()
            </div>

            <footer class="footer-wrapper">

                <div class="main-footer">

                    <div class="container">

                        <div class="row">

                            <div class="col-sm-12 col-md-9">

                                <div class="row">

                                    <div class="col-sm-6 col-md-4">

                                        <div class="footer-about-us">
                                            <h5 class="footer-title">about HaNgan</h5>
                                            <p>Sudden looked elinor off gay estate nor silent. Son read such next see the rest two. Was use extent old entire sussex...</p>
                                            <a href="#">read more</a>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-5 mt-30-xs">
                                        <h5 class="footer-title">quick links</h5>
                                        <ul class="footer-menu clearfix">
                                            <li><a href="#">Local Jobs</a></li>
                                            <li><a href="#">Company Directory</a></li>
                                            <li><a href="#">Browse Jobs</a></li>
                                            <li><a href="#">Salary Estimator</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Help</a></li>
                                            <li><a href="#">Post a Job</a></li>
                                            <li><a href="#">Employer Login</a></li>
                                            <li><a href="#">Publisher</a></li>
                                            <li><a href="#">Include My Jobs</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-3 mt-30-sm">

                                <h5 class="footer-title">newsletter</h5>

                                <p>Subsribe to get our latest updates and oeffers</p>

                                <div class="footer-newsletter">

                                    <div class="form-group">
                                        <input class="form-control" placeholder="enter your email " />
                                        <button class="btn btn-primary">subsribe</button>
                                    </div>

                                    <p class="font-italic font13">*** Don't worry, we wont spam you!</p>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="bottom-footer">

                    <div class="container">

                        <div class="row">

                            <div class="col-sm-4 col-md-4">

                                <p class="copy-right">&#169; Copyright 2016 HaNgan</p>

                            </div>

                            <div class="col-sm-4 col-md-4">

                                <ul class="bottom-footer-menu">
                                    <li><a href="#">Cookies</a></li>
                                    <li><a href="#">Policies</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Blogs</a></li>
                                </ul>

                            </div>

                            <div class="col-sm-4 col-md-4">
                                <ul class="bottom-footer-menu for-social">
                                    <li><a href="#"><i class="ri ri-twitter" data-toggle="tooltip" data-placement="top" title="twitter"></i></a></li>
                                    <li><a href="#"><i class="ri ri-facebook" data-toggle="tooltip" data-placement="top" title="facebook"></i></a></li>
                                    <li><a href="#"><i class="ri ri-google-plus" data-toggle="tooltip" data-placement="top" title="google plus"></i></a></li>
                                    <li><a href="#"><i class="ri ri-youtube-play" data-toggle="tooltip" data-placement="top" title="youtube"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

            </footer>

        </div>
        </div>
        <!-- end Main Wrapper -->



    <!-- start Back To Top -->
    <div id="back-to-top">
        <a href="#"><i class="ion-ios-arrow-up"></i></a>
    </div>
    <!-- end Back To Top -->
    <!-- JS -->
    <script type="text/javascript" src="~/scripts/hangan/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery-migrate-1.2.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/hangan/bootstrap-modalmanager.js"></script>
    
    <script type="text/javascript" src="~/scripts/hangan/bootstrap-modal.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/smoothscroll.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/wow.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/bootstrap-tokenfield.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/bootstrap3-wysihtml5.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery-filestyle.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/handlebars.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.countimator.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.countimator.wheel.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/slick.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/easy-ticker.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.introLoader.min.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/jquery.responsivegrid.js"></script>
    <script type="text/javascript" src="~/scripts/hangan/customs.js"></script>







</body>
</html>
